ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.home-page {
    max-height: 100%;
}

.add-buttons {
    padding-bottom: 2%;
}

.add-chore-btn a,
.add-roomie-btn a {
    color: rgb(255, 243, 235);
}

.add-chore-btn,
.add-roomie-btn {
    background-color: rgb(90, 89, 97);
    border: 0px;
    border-radius: 5px;
    color: rgb(255, 243, 235);
    cursor: pointer;
    font-size: 1em;
    margin: 2%;
    padding: 2.5% 4% 2.5% 4%;
}

.add-roomie-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(255, 135, 22);
}

.add-chore-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(25, 146, 55);
}

.roomie {
    padding-bottom: 5%;
}

@media screen and (min-width: 320px) and (max-width: 400px){
    .roomie {
        padding-bottom: 10%;
    }

    .add-chore-btn,
    .add-roomie-btn {
        padding: 3.5% 5% 3.5% 5%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .roomie {
        padding-bottom: 8%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .roomie {
        padding-bottom: 7%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .add-chore-btn,
    .add-roomie-btn {
        padding: 2.5% 4% 2.5% 4%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1185px) {
    .add-chore-btn,
    .add-roomie-btn {
        padding: 2.2% 3.8% 2.2% 3.8%;
    }
}

@media screen and (min-width: 1186px) and (max-width: 3000px) {
    .add-chore-btn,
    .add-roomie-btn {
        padding: 1.5% 3% 1.5% 3%;
    }

    .roomie {
        padding-bottom: 4.5%;
    }
}
