ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 2%;
}

.home-page {
    max-height: 4000px;
}

.addChore {
    margin-bottom: 3%;
    padding: 0% 5% 5% 5%;
}

.add-roomie {
    margin-bottom: 3%;
    padding: 0% 5% 5% 5%;
}

.roomie {
    padding-bottom: 2%;
}