p {
    margin: 1%;
}

.chore {
    font-size: 1.3em;
    margin: 1% 0% 0% 0%;
    padding-top: 0.5%;
    padding-bottom: 0%;
}

.chore-color-select:hover {
    cursor: default;
    background-color:  rgb(253, 219, 188);
    transition: 0.5s ease-out;
}

.linethrough {
    text-decoration-line: line-through;
}

.done-btn,
.delete-btn,
.undo-btn {
    background-color: rgb(126, 124, 134);
    border: 0px;
    border-radius: 5px;
    color: rgb(255, 243, 235);
    cursor: pointer;
    font-size: 0.7em;
    margin: 1.5%;
    padding: 1.8% 3.5% 1.8% 3.5%;
}

.done-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(25, 146, 55);
}

.undo-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(255, 135, 22);
}

.delete-btn:hover {
    transition: 0.2s ease-out;
    background-color: rgb(255, 50, 14);
}

@media screen and (min-width: 320px) and (max-width: 400px){
    .chore {
        font-size: 1.05em;
        margin: 2% 0% 0% 0%;
    }

    .done-btn,
    .delete-btn,
    .undo-btn {
        padding: 2% 4% 2% 4%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .done-btn,
    .delete-btn,
    .undo-btn {
        font-size: 0.75em;
        margin-top: 1%;
        padding: 1.5% 3.5% 1.5% 3.5%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1185px) {
    .done-btn,
    .delete-btn,
    .undo-btn {
        font-size: 0.8em;
        margin-top: 1%;
        padding: 1.2% 3% 1.2% 3%;
    }
}

@media screen and (min-width: 1186px) and (max-width: 3000px) {
    .done-btn,
    .delete-btn,
    .undo-btn {
        font-size: 0.9em;
        margin-top: 1%;
        padding: 1% 2.5% 1% 2.5%;
    }
}
