p {
    padding: 0;
}

.add-chore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.remove-roomie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

