nav {
    background-color: rgb(255, 166, 82);
    padding: 1% 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

nav.top {
    position: fixed;
    text-align: right;
    z-index: 10;
}

nav.top li {
    display: inline-block;
    padding: 0;
}

nav.top li::after {
    content: "";
    padding-right: 30px;
}

.app-home {
    font-size: 1.1em;
    font-weight: bold;
}

.app-home a:active {
    transition: 0.1s ease-out;
    color: rgb(74, 73, 80);
}

.app-home a:focus {
    color: rgb(74, 73, 80);
    border-bottom: 2px solid;
}

.app-home a:hover {
    transition: 0.2s ease-out;
    color: rgb(255, 243, 235);
}


@media screen and (min-width: 320px) and (max-width: 400px){
    nav {
        padding: 1.8% 0%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    nav {
        padding: 1.6% 0%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    nav {
        padding: 1.4% 0%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    nav {
        padding: 1.2% 0%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1185px) {
    nav {
        padding: 1% 0%;
    }
}

@media screen and (min-width: 1186px) and (max-width: 4000px) {
    nav {
        padding: 0.8% 0%;
    }
}
