nav.top {
    position: fixed;
    text-align: right;
    z-index: 10;
}

nav.top li {
    display: inline-block;
    padding: 0;
}

nav.top li::after {
    content: "";
    padding-right: 30px;
}

.app-home {
    font-size: 1.1em;
    font-weight: bold;
}